{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card p-4 shadow-sm">
            <h3 class="text-center mb-4">Farmer Login</h3>
            
            <form method="POST">
                <div class="mb-3">
                    <label>Phone Number</label>
                    <input type="tel" name="phone" class="form-control" placeholder="Enter mobile number" required>
                </div>
                
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary">Create New Account</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}